

h1,h2{
	color: orange;font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}
h3{
	color: black;font-size: 50px;
	font-family: 'Montserrat', sans-serif;
}

footer{
	grid-area: footer;
	display: flex;
	flex-direction:column;
	text-align: center;

}

header nav{
	background-color: rgba(77, 194, 123, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;

}
header nav ul {#4DC27B
  display: flex;
}
header nav ul li{


}
header nav ul li a{
	color:#000 ;
	text-decoration:none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
header nav ul li a:hover {
	color: orange;
}
footer{
	background-color:#ffffff ;
}
footer h3{
	color: black;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.noList{
	list-style: none;
}
.text-italic{
	font-style: italic;
}
.encabezado__box--white{
	text-align: center;
	background-attachment:white;
	box-sizing: border-box
}
.logo__img--fluid{
	width: 200px;
}
.header__img--fluid{
	width: 100vw;
	margin: auto;

}
.productos__img--fluid{
	width: 100vw;
	margin: 10px auto;
	padding-right: 30px;
}
.producto__titulo--xl{
	border: solid;

}
.contacto__titulo--l{
	border: solid;
}
.footer__icon--sm{
	width: 100px;
}
.instagram__icon--sm{
	width: 150px;
}
.novedades__main{
	border: solid;
	margin: 100px 100px
}
.producto__titulo--xl{
	border: solid;

}
.pie__titulo--md{
border: solid	
}
.formulario__datosPersonales{
	display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}
.formulario{
	grid-area:formulario;
	background-color:  #ffffff;
	padding: 20px 0;
	display: flex;
}
.contenedorProductos{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4";

}
.imagen1{
	grid-area: imagen1;
	width: 80vw;
	border: solid;
	margin: 10px auto;
}
.imagen2{
	grid-area: imagen2;
	width: 80vw;
	border: solid;
	margin: 10px auto;
}
.imagen3{
	grid-area: imagen3;
	width: 80vw;
	border: solid;
	margin: 10px auto;
	padding-bottom: 28px;
}
.imagen4{
	grid-area: imagen4;
	width: 80vw;
	border: solid;
	margin: 10px auto;
}
.linear-gradient{
	background: linear-gradient(to top, whitesmoke, rgba(77, 194, 123, 1.0));
}
.scale:hover{
	transform:scaleX(0.9);
	cursor: pointer;
	transition: 2s;
}
@media (min-width: 768px){

header nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	margin-right: 10px;
}
header nav ul li a{
		font-size: 14px;
	}
.contenedorProductos{
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: repeat(2, auto);
	grid-template-areas: "imagen1 imagen2" "imagen3 imagen4";

}
.imagen1{
	grid-area: imagen1;
	width: 40vw;
	border: solid;
	margin: 5px 10px 5px 30px;
	height: 40vh;
}
.imagen2{
	grid-area: imagen2;
	width: 40vw;
	border: solid;
	margin: 5px 10px 5px 30px;
	height: 40vh;
}
.imagen3{
	grid-area: imagen3;
	width: 40vw;
	border: solid;
	margin: 5px 10px 5px 30px;
	height: 40vh;
}
.imagen4{
	grid-area: imagen4;
	width: 40vw;
	border: solid;
	margin: 5px 10px 5px 30px;
	height: 40vh;
}

@media (min-width: 900px){
	header nav ul li a{
		font-size: 16px;
	}
	.contenedorProductos{
	display: grid;
	grid-template-columns: 4fr;
	grid-template-rows: auto;
	grid-template-areas: "imagen1 imagen2 imagen3 imagen4";

}
.imagen1{
	grid-area: imagen1;
	width: 25vw;
	border: solid;
	margin: auto;
	height: 40vh;
}
.imagen2{
	grid-area: imagen2;
	width: 25vw;
	border: solid;
	margin: auto;
	height: 40vh;
}
.imagen3{
	grid-area: imagen3;
	width: 25vw;
	border: solid;
	margin: auto;
	height: 40vh;
}
.imagen4{
	grid-area: imagen4;
	width: 25vw;
	border: solid;
	margin: auto;
	height: 40vh;
}
	}
